* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Impact","Arial Black",sans-serif;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    mix-blend-mode:difference;
    transition: all linear 0.3s;
    position: absolute;
}
h1{
    font-size: 10vw;
    font-weight: 800;
}